// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
	"nav": #4C3323,
    "produkt": #895E42,
	"lysb": #CB9E80,
	"cta": #37541C,
	"cta-hover": #9DAA8D,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

body{
	background-color: #F8F0EB;
}

.nav-link{
	color: #37541C;
	font-weight: bold;
}
.navbar-brand{
	color: #4c3323;
	font-weight: bolder;
}

.plant{
	width: 100%;
	height:auto;
}

.img-fluid {
	max-width: 100%;
	height: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	border-radius: 11%;
}

main {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-img {
	position: relative;
	width: 100%;
	z-index: 1;
}

.plant {
	width: 100%;
	display: block;
}

.hero {
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
	background: rgba(255, 255, 255, 0.7);
	padding: 20px;
	border-radius: 10px;
	z-index: 10;
}

.accordion-button {
	background-color: white;
	color: black;
}

.accordion-button:not(.collapsed) {
	background-color: forestgreen;
	color: white;
}

.bestil-knap {
	background-color: #59381f;
	color: white;
	padding: 10px 20px;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.bestil-knap:hover {
	background-color: forestgreen;
	color: white;
}